* {
    margin: 0;
    padding: 0;
}
.main-content {
    background-image: url("../img/noruega_1920x1280.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 600px) {
    .main-content {
        background-image: url("../img/torre-big-ben_835x1057.jpg");
        background-size: cover;
        background-position: center left;
    }
}