* {
    margin: 0;
    padding: 0;
}
.main-content {
    background-image: url("../img/noruega_1920x1280.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    width: 350px;
    height: 450px;
    background-color: rgba(250, 250, 250, 0.95);
    border-radius: 12px;
}
.icon-box {
    width: 130px;
    height: 130px;
    background-color: rgb(48,48,48,.55);
    border-radius: 50%;
    position: relative; 
    top: -65px;
    left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-user {
    color: white;
    font-size: 4em;
}
@media only screen and (max-width: 600px) {
    .main-content {
        background-image: url("../img/torre-big-ben_835x1057.jpg");
        background-size: cover;
        background-position: center right;
    }
}