* {
    margin: 0;
    padding: 0;
}
h1 {
    color: red;
}
p {
    font-size: 1.8;
}
p.special {
    font-style: italic;
}
.texto-centrado {
    text-align: center;
}
.texto-movie {
    text-align: center;
    font-size: 4em;
    font-family: Cinzel, sans-serif;
    color: rgb(240,240,240,.9);
}
.texto-movie2 {
    font-family: 'Bebas Neue';
    font-size: 5em;
    color: red;
}
.style-gt {
    background-color: rgb(24,24,24);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-netflix {
   background-color: rgb(48,48,48);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* cinzel-regular - latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cinzel-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-regular.svg#Cinzel') format('svg'); /* Legacy iOS */
  }
  /* cinzel-600 - latin */
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/cinzel-v19-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-600.svg#Cinzel') format('svg'); /* Legacy iOS */
  }
  /* cinzel-700 - latin */
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cinzel-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-700.svg#Cinzel') format('svg'); /* Legacy iOS */
  }
  /* cinzel-800 - latin */
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/cinzel-v19-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-800.svg#Cinzel') format('svg'); /* Legacy iOS */
  }
  /* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bebas-neue-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
  }